In [35]:
import pandas as pd;
import numpy as np;

ModuleNotFoundError: No module named 'pandas_profiling'

In [ ]:
#from imblearn.under_sampling import NearMiss
#!pip install  imblearn
#undersample = NearMiss()

In [33]:
! pip install imblearn

Collecting imblearn

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000020DCD184CC0>, 'Connection to 10.244.3.249 timed out. (connect timeout=15)')': /simple/imblearn/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000020DCD184668>, 'Connection to 10.244.3.249 timed out. (connect timeout=15)')': /simple/imblearn/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000020DCD184048>, 'Connection to 10.244.3.249 timed out. (connect timeout=15)')': /simple/imblearn/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000020DCD1845C0>, 'Connection to 10.244.3.249 timed out. (connect timeout=15)')': /simple/imblearn/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000020DCD184390>, 'Connection to 10.244.3.249 timed out. (connect timeout=15)')': /simple/imblearn/
  ERROR: Could not find a version that satisfies the requirement imblearn (from versions: none)
ERROR: No matching distribution found for imblearn

In [5]:
org_data = pd.read_csv("bankfull.csv", sep=";")
org_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
org_data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [7]:
org_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [8]:
org_data.duplicated().sum()

0

In [20]:
org_data_yes =  org_data[org_data["y"] == "yes"];
org_data_yes.shape

(5289, 17)

In [22]:
org_data_no = org_data[org_data["y"] == "no"].sample(n=5289)
org_data_no.shape

(5289, 17)

In [23]:
mod_data = pd.concat([org_data_yes,org_data_no], axis="rows")
mod_data.shape

(10578, 17)

In [24]:
mod_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [26]:
mod_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
83,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
86,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
87,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
129,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
168,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [27]:
mod_data["age"].unique()

array([59, 56, 41, 55, 54, 42, 60, 39, 37, 34, 28, 30, 36, 45, 53, 38, 29,
       46, 31, 35, 32, 49, 43, 26, 40, 33, 24, 23, 48, 52, 57, 51, 44, 50,
       27, 47, 25, 58, 61, 62, 68, 75, 22, 69, 64, 66, 85, 72, 90, 67, 71,
       21, 63, 73, 74, 65, 83, 79, 70, 76, 77, 19, 20, 78, 95, 82, 18, 86,
       84, 87, 92, 81, 80, 93], dtype=int64)

In [29]:
mod_data["job"].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'unemployed', 'blue-collar', 'entrepreneur', 'housemaid',
       'self-employed', 'unknown', 'student'], dtype=object)

In [31]:
mod_data["job"].value_counts()

management       2452
blue-collar      1925
technician       1729
admin.           1220
services          869
retired           737
self-employed     363
student           354
unemployed        350
entrepreneur      272
housemaid         234
unknown            73
Name: job, dtype: int64

In [ ]:
mod_data["job"].unique()